# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
!backend/models/*.pkl

# Virtual environment
venv/
env/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Models
# backend/models/

# Large files
*.json
!backend/models/*.json

# IDE
.vscode/
.idea/